body{
    padding:0px;
    margin:0px;
    background-color:#EEE;
}
.card{
    height:300px;
    border: 1px solid black;
}
.popup {
    position:absolute;
    top: 90%;
    left:60%;
    
    transform: translateX(-50%);
    background-color:white;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    z-index: 9999;
  }
  .image-container {
    position: relative;
    display: inline-block;
  }
  
@media(max-width:600px){
    .card{
        height: auto;
        margin-top: 10px;
        padding-bottom: 15px;
    }
}