.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.form-container{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    width: 500px;
}
.form-toggle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-toggle button{
    width:50%;
    padding:10px;
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
}
.form-toggle .active{
    background-color: #033452;
    color:white;
}
.form{
    display: flex;
    flex-direction: column;
}
.form h2{
    margin-bottom: 20px;
    text-align: center;
    color:#1230AE;
    font-size:25px;
}
.form input{
    padding: 10px;
    margin-bottom: 10px;
    border:1px solid #ddd;
    border-radius:5px;
    font-size: 20px;
}
.form button{
    padding: 10px;
    background-color: #033452;
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.form a{
    color:#007bff;
    text-decoration: none;;
    margin-bottom:10px;
    text-align:right;
    font-size: 20px;
}
.form p{
    text-align: center;
    font-size: 20px;
}